<!doctype html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragment/layout_deafult}">
<head>
  <title th:text="${dto.loan.id} ? 'Edit Loan' : 'Add Loan'"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">
  <div th:replace="fragment/header"></div>

  <div layout:fragment="content" class="container">
    <div class="py-5 text-center">
      <h2 th:text="${dto.loan.id} ? 'Edit Loan' : 'Create Loan'"></h2>
    </div>

    <div class="row">
      <div class="col-md-12 order-md-1">
        <form action="#" th:action="@{/save}" th:object="${dto}" method="post" class="needs-validation" novalidate>
          <input type="hidden" th:field="*{borrower.id}" />
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First" value="" th:field="*{borrower.firstName}">
              <div class="text text-danger" th:if="${#fields.hasErrors('borrower.firstName')}" th:errors="*{borrower.firstName}"></div>

            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last" value="" th:field="*{borrower.lastName}">
              <div class="text text-danger" th:if="${#fields.hasErrors('borrower.lastName')}" th:errors="*{borrower.lastName}"></div>
            </div>
          </div>

          <div class="mb-3">
            <label for="document">Document number</label>
            <div class="input-group">
              <input type="text" class="form-control" id="document" placeholder="Document number" th:field="*{borrower.documentNumber}">
              <div class="text text-danger" th:if="${#fields.hasErrors('borrower.documentNumber')}" th:errors="*{borrower.documentNumber}"></div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email <span class="text-muted">(Optional)</span></label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" th:field="*{borrower.email}">
            <div class="text text-danger" th:if="${#fields.hasErrors('borrower.email')}" th:errors="*{borrower.email}"></div>
          </div>

          <div class="mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St" th:field="*{borrower.address}">
            <div class="text text-danger" th:if="${#fields.hasErrors('borrower.address')}" th:errors="*{borrower.address}"></div>
          </div>

          <!-- th:value="${borrower.country}"  -->
          <div class="mb-3">
            <label for="country">Country</label>
            <select th:field="*{borrower.country}" class="custom-select d-block w-100" id="country">
              <option value="">Choose...</option>
              <option th:each="country : ${countries}" th:value="${country.iso_numeric_code}" th:text="${country.name}"></option>
            </select>
            <div class="text text-danger" th:if="${#fields.hasErrors('borrower.country')}" th:errors="*{borrower.country}"></div>
          </div>

          <hr class="mb-4">
          <div class="row">
            <input type="hidden" th:field="*{loan.id}" />
            <input type="hidden" th:field="*{loan.borrower}" />
            <div class="col-md-6 mb-3">
              <label for="principal">Principal</label>
              <input type="text" class="form-control" id="principal" placeholder="" value="" th:field="*{loan.principal}">
              <div class="text text-danger" th:if="${#fields.hasErrors('loan.principal')}" th:errors="*{loan.principal}"></div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="interest">Interest</label>
              <input type="text" class="form-control" id="interest" placeholder="" value="" th:field="*{loan.interest}">
              <div class="text text-danger" th:if="${#fields.hasErrors('loan.interest')}" th:errors="*{loan.interest}"></div>
            </div>
          </div>
          <hr class="mb-4">

          <button class="btn btn-primary btn-lg btn-block" type="submit" th:text="${dto.loan.id} ? 'Save Loan' : 'Create Loan'"></button>
        </form>
      </div>
    </div><!-- closing div class="row" -->
  </div><!-- closing div class="container" -->
  <div th:replace="fragment/footer"></div>
</body>
</html>
